/* .App {
  text-align: center;
} */

.App-logo {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}



.navbar {
  background-color: #333;
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item.left-content {
  text-align: left;
  color: azure;
  margin-right: auto;
}

.left-content {
  float: left;
}

.right-content {
  float: right;
}
.nav-item {
  display: inline-block;
  margin-right: 4%;
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 2px;
  
}

.nav-item a {
  text-decoration: none;
  color: white;
}

.cart-logo {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.cart-logo span {
  margin-left: 5px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  line-height: 1.5;
}

/* Optionally, you can add some styling to the footer text */
.footer-text a {
  color: #fff;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

